#main{
  width: 700px;
}

.place{
	width: 260px;
}

.photo_slideshow .scroller li {  
  width: 768px;
}

.photo_slideshow .scroller li .wrap {
  position: relative;
  top: 50%;
}

#slideshow-button {
  top: 512px;
}