html {
  min-height: 100%;
  min-width: 100%;
}
body {
  min-height: 100%;
  min-width: 100%;
  /*
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.23, #42A6BF),
    color-stop(0.62, #A9D5D2)
  );
  background-image: -moz-linear-gradient(
    center bottom,
    #42A6BF 23%,
    #A9D5D2 62%
  );
   */
  font-family: "Helvetica Neue", Helvetica, Verdana;
}

#preloader {
  z-index: 9000;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,1.0);
}

#preloader .message {
  font-family: verdana;
  font-size: 10px;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 200px;
  margin-left: -100px;
  margin-top: -40px;
  text-align: center;
}

#main {
  height: 100%;
}

#main .heading {
  position: absolute;
  top: 0px;
  left: 3%;
  right: 3%;
  z-index: 3;
  background-color: black;
  -webkit-border-radius: 0px 0px 15px 15px;
  -moz-border-radius: 0px 0px 15px 15px;
  border-radius: 0px 0px 15px 15px;
}

h1 {
  padding: 10px 25px;
  font-size: 1.8em;
  color: white;
  font-family: Georgia;
  font-style: italic;
  max-width: 400px;
}

.bold {
  font-weight: bold;
}

.heading .powered {
  float: right;
  padding: 20px 25px 10px 0px;
  color: white;
}


#scrollwrapper {
  position:relative;
  z-index:1;
  width: 100%;
  height: 100%;
  overflow: hidden;
}


#infographic {
  width: 2040px;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: #E1E1E1;
  overflow-x: scroll;
  overflow-y: hidden;
}

#infographic .item {
  height: 100%;
  float: right;
  width: 40px;
}

#infographic .item#item-0, #infographic .item#item-47 {
  width: 100px
}

#infographic .item .timestamp {
  margin-top: 60px;
  font-size: 0.6em;
  text-align: center;
  width: 40px;
  background-color: rgba(255,255,255,0.5);
  padding: 5px 0px;
}

#infographic .item#item-0 .timestamp{
  padding-right: 60px;
}
#infographic .item#item-47 .timestamp {
  padding-left: 60px;
}


.bg0 { background-color: #F7F6F6; }
.bg1 { background-color: #D3D1D1; }
.bg2 { background-color: #D7D7D7; }
.bg3 { background-color: #EAECEE; }



.tail {
  position: absolute;
  top: 5px;
  width: 50px;
  height: 30px;
  background-color: #D9430D;
  -moz-border-radius: 10px 0px 0px 10px;
  border-radius: 10px 0px 0px 10px;
}

#stats {
  width: 2040px;
  position: absolute;
  top: 0px;
  z-index: 1;
}

.stat {
  position: absolute;
  right: 100px;
  top: 40px;
}

.head {
  position: relative;
  top: -5px;
  left: 5px;
  width: 50px;
  height: 50px;
  background-color: #D9430D;
  z-index: 5;
  -moz-border-radius: 10px;
  border-radius: 10px;
  font-size: 0.7em;
  color: white;
  text-align: right;
  overflow: visible;
  line-height: 1.5em;
}



.clear {
	clear: both;
}






